.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

.content {
    font-size: 16px;
    color: #787474;
}

.content div {
    margin-left: 20px;
}

.content div:last-child {
    padding-bottom: 10px;
}

.content em {
    font-weight: bold;
    line-height: 35px;
    font-size: 18px;
}

.content p {
    text-indent: 2em;
    margin-bottom: 5px;
    margin-right: 10px;
}